body{
	
	width:100%; 
	background-color:white;
}

font{
	color:lightblue;
}

div.FillScreenTextCentered{
	 width:90%;
	 margin-right:auto; 
	 margin-left:auto; 
	 text-align:center;
}

p.ErrorMessageOutput{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	background-color:lightgrey;
	text-align:center;
	color:black;
}

input{
	width:97%;
}

input.button{
	font-size:18px;
}

/*table{
	width:80%;
	margin-left:10%;
	marin-right:10%;
}*/

/*tr{
	background-color:grey;
}*/

td{
	text-align:center;
}

td.HomeInputTitle{
	width:8%; 
	
	/*
		Since the table surrounding the two forms, takes up 80% of the screen, each of the two tables should take up 40% of the screen.
		
		I am giving 20% of this 40% to the title of the element asking for user input.
		0.2 * 40 = 8 
	*/
}
*/


td.HomeInputContent{
	width:32%; 
	
	/*
		Since the table surrounding the two forms, takes up 80% of the screen, each of the two tables should take up 40% of the screen.
		
		I am giving 80% of this 40% to the title of the element asking for user input.
		0.8 * 40 = 32 
	*/
}


