#calendar{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 0px 10px 20px 10px;
	width: 	100%;
}

#calendar .ui-widget-header{
	font-weight: normal;
	padding: 3px 3px 3px 3px;
}

#calendar .fc-header-title{
	font-weight: normal;
	color: white;
}

