<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>tutorProfile</servlet-name>
		<servlet-class>com.sos.servlets.TutorProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tutorProfile</servlet-name>
		<url-pattern>/tutorProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createSessionServlet</servlet-name>
		<servlet-class>com.sos.servlets.CreateSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createSessionServlet</servlet-name>
		<url-pattern>/createSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tutorUserProfile</servlet-name>
		<servlet-class>com.sos.servlets.TutorUserProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tutorUserProfile</servlet-name>
		<url-pattern>/tutorUserProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contactSend</servlet-name>
		<servlet-class>com.sos.servlets.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contactSend</servlet-name>
		<url-pattern>/contactSend</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>studentProfile</servlet-name>
		<servlet-class>com.sos.servlets.StudentProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentProfile</servlet-name>
		<url-pattern>/studentProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>com.sos.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/adminServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>com.sos.servlets.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/editServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditStudentProfile</servlet-name>
		<servlet-class>com.sos.servlets.EditStudentProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStudentProfile</servlet-name>
		<url-pattern>/EditStudentProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.sos.servlets.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/tutorSearch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.sos.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.sos.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.sos.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/errors/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/errors/408.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/errors/502.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/errors/504.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Exception.jsp</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>adm</web-resource-name>
			<url-pattern>/AdminHome.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>